* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(119, 117, 117);
    color: white;
}
h1 {
    text-align: center;
    margin: 30px 0px;
}
.fight-area {
    background-color: rgb(208, 202, 202);
    display: flex;
    gap: 50px;
    justify-content: space-around;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px black;
}
.char,
.monster {
    display: 1;
    width: 100%;
}
.bar {
    height: 20px;
    border: 1px solid black;
    border-radius: 25px;
    width: 100%;
}
.lifebar {
    background-color: red;
    width: 10%;
    height: 100%;
    border-radius: 25px;
}
.atackButton {
    padding: 10px;
    background-color: red;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
h3 {
    margin-top: 10px;
}
.atackButton:hover {
    background-color: rgb(223, 0, 0);
    border: none;
}
.log {
    background-color: white;
    color: black;
    overflow-y: scroll;
    margin-top: 30px;
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    border: 1px black dotted;
}